body{
  background-image: linear-gradient(rgb(243, 81, 108),rgba(244, 106, 106, 0.488),rgb(153, 204, 153));
  color: white;
  background-repeat:no-repeat;
}

p{

  color: goldenrod;
  background-color: paleturquoise;
  width: 500px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  text-align: justify;
  overflow: scroll;
background-image: url(/rasel2-removebg-preview.png);
background-size: 300px;
background-repeat: no-repeat;
background-position: bottom;


}